.git{
    background-color: #cad2c5;
    
}
.nav{
    background-color: #27333b ;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight:lighter;
    height: 100px;
    
    display: flex;
    flex-direction: row;
    
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
}
h4{
    padding: 20px;
    letter-spacing: 2px;
    font-size: larger;
    
}


.nav div:nth-child(2){
    padding: 5px;
    margin-top: 15px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    column-gap: 70px;
    padding: 40px;
}

.big{
    width: 300px;
    height: 518px;
    border: none;
    background-color: #353535;
    border-radius: 20px;
    padding: 20px;
}
.right{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    
}
.icon{
    padding: 15px;
}
.three{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 100px;
    
}
.one{
  border-radius: 22px;
  background-color: #353535;;
  width: 221px;
  height: 171px;
  margin: 0 10;
}
#first{
    background-color: #353535;
    border-radius: 5px;
    color:lightcyan;
    width: 600px;
    height: 40px;
    margin-left:130px;
    
}
.last{
    border: none;
    border-radius: 20px;
    background-color:#353535;
    width: 900px;
    height: 200px;
}
::placeholder{
    letter-spacing: 3px;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    font-weight: normal;
}
